@import-normalize; /* bring in normalize.css styles */

:root{
  --font-color: #fff;
  --background-gradient: linear-gradient(
		to right top,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
  --border: 1px solid #fbf9fa3f;
  --hover-link-color: #5ffbf1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

*, *::before, *::after{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding-left: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: inherit;
}

